@import "@fontsource-variable/inter";
@import "@fontsource-variable/league-spartan";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter Variable", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "League Spartan Variable", sans-serif;
}

p {
  font-family: "Inter Variable", sans-serif;
  color: #6b7280;
}

button {
  font-family: "League Spartan Variable", sans-serif;
}

@layer utilities {
  .image_hover_bw_to_color {
    @apply grayscale hover:grayscale-0 transition-all duration-300;
  }
}
