@import "@fontsource-variable/inter";
@import "@fontsource-variable/league-spartan";
@import "@fontsource/alegreya-sans";
@import "@fontsource/marck-script";

@font-face {
  font-family: "Against";
  src: url("./fonts/against-Regular.woff2") format("woff2"),
    url("./fonts/against-Regular.woff") format("woff"),
    url("./fonts/against-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CS Carline";
  src: url("./fonts/CSCarline-Regular.woff2") format("woff2"),
    url("./fonts/CSCarline-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rollgates Luxury";
  src: url("./fonts/RollgatesLuxury.woff2") format("woff2"),
    url("./fonts/RollgatesLuxury.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Alegreya Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: "League Spartan Variable", sans-serif; */
  font-family: "Against", sans-serif;
}

p {
  font-family: "Alegreya Sans", sans-serif;
  color: #6b7280;
}

button {
  font-family: "League Spartan Variable", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

@media (min-width: 1024px) {
  button {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

@layer utilities {
  .image_hover_bw_to_color {
    @apply grayscale hover:grayscale-0 transition-all duration-300;
  }
}

@layer utilities {
  .masonry {
    column-gap: 1em;
    column-count: 1;
  }

  .masonry-sm {
    column-gap: 1em;
    column-count: 2;
  }

  .masonry-md {
    column-gap: 1em;
    column-count: 3;
  }

  .break-inside {
    break-inside: avoid;
  }
}
