@import "@fontsource/dm-serif-display";
@import "@fontsource-variable/inter";
@import "@fontsource-variable/unbounded";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @theme {
  --font-unbounded: Unbounded, sans-serif;
} */

body {
  font-family: "Inter Variable", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Unbounded Variable", sans-serif;
}

@layer utilities {
  .image_hover_bw_to_color {
    @apply grayscale hover:grayscale-0 transition-all duration-300;
  }
}
